
*{
  margin: 0;
  padding: 0;
}
.App{
  padding: 35px;
  background-color: #31cba696;
  display: flex;
}

.users{
  width: 35vw;
  border: 2px dotted rgba(22, 140, 140, 0.56);
  margin: 5px;
  padding: 25px;

}
.posts{
  width: 50vw;
  margin: 5px;
  padding: 25px;
  border: 2px dotted rgba(22, 140, 140, 0.56);
}

.postsBtn {
  margin: 5px;
  padding: 5px;
  background-color: rgb(129, 239, 239);
}

